---
layout: default
---

<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      /* border: 1px solid #dddddd; */
      text-align: center;
      padding: 8px;
    }
    
    /* tr:nth-child(even) {
      background-color: #dddddd;
    } */
</style>
<section>
    <div class="section-title">
        <h1><span>{{ page.title }}</span></h1>
    </div>

    <div class="article-post">
    {{content}}
    </div>

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %}
</section>